{% extends "base.html" %}

{% block content %}

<h1>Send a message</h1>
<h2>user: {{ uname }}</h2>
<hr>

{% if feedback %}
<p style="color:red;">{{ feedback }}</p>
{% endif %}

<form action="/sendmsg" method="POST">

  <div>
    <label>Destination:</label>
    <input type="text" id="destination" name="destination">
  </div>

  <div>
    <label>Message:</label>
    </br>
    <textarea name="message" rows="10" cols="50"></textarea>
  </div>

  <button type="submit">SEND</button>

</form>

{% endblock %}